@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    overflow: hidden;
}
#mainpage{
    background:linear-gradient(rgba(0, 0, 0, 0.466),rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.815)), url(https://cdn.pixabay.com/photo/2021/02/24/20/53/abstract-6047465_1280.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
#bottom_btn{
    border: solid 1px;
    border-radius: 16px;
    width: 150px;
    justify-content: space-around;
    padding: 5px;
}
#mid_div{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;


}
@media (max-width:600px) {
    #pragraph-text{

    }
    #mid-section{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}
#arrow{
    animation: arrow 4s infinite;
}
@keyframes arrow{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(2turn);
    }
}